* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
    justify-content: center;
}

.App {
    display: flex;
    margin-top:100px;
}
.tasklist {
    margin-right:20px;
}
.task {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;

}